services:
  web1:
    build: .
    ports:
      - "5001:5000"

  web2:
    build: .
    ports:
      - "5002:5000"

  web3:
    build: .
    ports:
      - "5003:5000"

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - web1
      - web2
      - web3
